<header class="post-header">
	<div class="header-container">
		<picture class="background-image">
			<img class="header-image" src="{{ index.section1.svg }}" alt="bg" />
		</picture>
	</div>
</header>

<section id="section1" class="content" tracking="First Section">
	<div class="text-container1">
		<p><span class="dropcap">A</span>{{ index.section1.paragraphs }}</p>
	</div>
</section>

<section id="section2" class="section2" tracking="Second Section">
	<div class="evolution-box">
	    <div class="img-box">
				{{> evolution1 }}
			</div>
			<div class="img-box">
				{{> evolution2 }}
			</div>
			<div class="img-box">
				{{> evolution3 }}
			</div>
	</div>
	{{> paragraphs index.section2-paragraph.parags }}
</section>

<section id="section3" class="section3" tracking="Third Section">
	<div class="section-container">
		<div class="section-title">
			<h1 class="touch_parallax">{{ index.section3.title}}</h1>
		</div>
		<div class="section-top">
			{{> touch_sensitivity }}
			<div class="subtitle">
				<p>{{ index.section3.title}}</p>
			</div>
		</div>

		<div class="section-info">
			<div class="top-info content">
				<p class="text3">{{ index.section3.paragraphs}}</p>
			</div>

			<div class="middle-info">
					{{> touch-icon }}
				<div class="center-info content">
					<p class="text4">{{ index.section3.copy.paragraphs}}</p>
				</div>
			</div>

			<div class="bottom-info content">
				<div class="pullquote">
					<p class="text5">{{ index.section3.copy2.paragraphs}}</p>
				</div>
				{{> hands_human }}
				<div class="bottom-copy text6">
					<p>{{ index.section3.copy3.paragraphs}}</p>
					<p>{{{ index.section3.copy4.paragraphs }}}</p>
					<p>{{{ index.section3.copy5.paragraphs }}}</p>
				</div>
			</div>
		</div>

	</div>
</section>

<section id="section4" class="section4" tracking="Fifth Section">
	<div class="section-container">

		<div class="section-title">
			<h1 class="facial_parallax">{{ index.section4.title}}</h1>
		</div>

		<div class="section-top">
			{{> facial_recognition }}
			<div class="subtitle">
				<p>{{ index.section4.title}}</p>
			</div>
		</div>

		<div class="section-info">
			<div class="top-info content">
				<p class="text7">{{{ index.section4.copy.paragraphs }}}</p>
			</div>
		</div>

		<div class="middle-content content">
			<h2>{{{ index.section4.copy2.paragraphs }}}</h2>
			<h2>{{{ index.section4.copy2-1.paragraphs }}}</h2>
			<div id="facial-box-container" class="facial-box">
			    <div class="img-box">
						{{> facial1 }}
					</div>
					<div class="img-box">
						{{> facial2 }}
					</div>
					<div class="img-box">
						{{> facial3 }}
					</div>
					<div class="img-box">
						{{> facial4 }}
					</div>
			</div>
			<div class="facial-info">
				<p>{{{ index.section4.copy3.paragraphs }}}</p>
			</div>
		</div>

		<div class="bottom-content content">
			<p class="text8">{{{ index.section4.copy4.paragraphs }}}</p>
		</div>

	</div>

</section>

<section id="section5" class="section5" tracking="Fifth Section">
	<div class="section-container">

		<div class="section-title">
			<h1 class="iris_parallax">{{ index.section5.title}}</h1>
		</div>

		<div class="section-top">
			{{> iris_icon }}
			<div class="subtitle">
				<p>{{{ index.section5.title }}}</p>
			</div>
		</div>

		<div class="section-info">
			<div class="top-info content">
				<p class="text9">{{{ index.section5.copy.paragraphs }}}</p>
			</div>

			<div class="middle-info">
				<div class="pullquote">
					<p class="text10">{{ index.section5.copy1.paragraphs}}</p>

				</div>

				<div class="center content">
					{{> eyes_mask }}
					<div class="info">
						<p class="text11">{{{ index.section5.copy2.paragraphs }}}</p>
					</div>
				</div>

				<div class="bottom-info content">
					{{> planets }}
					<p class="text11">{{{ index.section5.copy3.paragraphs }}}</p>
				</div>

			</div>

		</div>

	</div>
</section>

<section id="section6" class="section6" tracking="Sixth Section">
	<div class="section-container">

		<div class="section-title">
			<h1 class="heart_parallax">{{ index.section6.title}}</h1>
		</div>

		<div class="section-top">
			{{> heart }}
			<div class="subtitle">
				<p>{{{ index.section6.subtitle }}}</p>
			</div>
		</div>

		<div class="middle-section content">
			<div class="middle-info">
				<p class="text12">{{{ index.section6.copy.paragraphs }}}</p>
			</div>

			<div id="slide" class="slide">
				{{> slideshow index.section6.slideshow }}
			</div>

			<div class="bottom-section">
				<p class="text13">{{{ index.section6.copy1.paragraphs }}}</p>
			</div>


		</div>



	</div>
</section>

<section id="section7" class="section7" tracking="Seventh Section">
	<div class="section-container">

		<div class="footer-container">
			<div class="open-logo">
				<img src="{{ index.section7.copy.image }}" alt="">
			</div>

			<div class="text-footer-container content">
				<p>{{{ index.section7.copy.paragraphs }}}</p>
				<a href="#" target="_blank">
					<button class="cta-button">Explore</button>
				</a>
			</div>

		</div>

	</div>
</section>

{{!-- <section id="section1" class="content" tracking="First Section">
	<h2>{{ index.section1.title }}</h2>
	{{{ lines index.section1.paragraphs }}} --}}

	{{!-- SLIDESHOW PARTIAL IS VISIABLE IN PARTIALS DIRECTORY. IS GREAT FOR REPEATED ELEMENTS ON THE PAGE --}}
	{{!-- {{> slideshow index.section1.slideshow }}
</section> --}}

{{!-- <section id="section2" class="content" tracking="Second Section">
	<h2>{{ index.section2.title }}</h2>
	{{{ lines index.section2.paragraphs }}}
	{{> slideshow index.section2.slideshow }}
</section> --}}
